// Importacion fuente Roboto+Mono

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@300&family=Passion+One:wght@700&family=Poppins&display=swap');



// Integracion de fuente

*{
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Passion One', cursive;
  font-family: 'Poppins', sans-serif;
}