// Colores

$color--enlaces: #ff2a54;
$color__footer: #4C4C4C;
$color__footer--contraste: #000000ea;
$color__background: rgb(2,0,36) linear-gradient(90deg, rgba(2,0,36,1) 9%, rgba(255,160,161,1) 26%);